@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  color: #12A8D9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont1/iconfont.eot');
  src: url('../iconfont1/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont1/iconfont.woff') format('woff'),
  url('../iconfont1/iconfont.ttf') format('truetype'),
  url('../iconfont1/iconfont.svg#iconfont') format('svg');
}
html,body,ul,li{
    margin: 0 auto;
    padding: 0;
}
#top{
    width: 1350px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
}
#top #first{
    width: 475px;
    height: 35px;
    margin: 0;
    padding: 0;
    margin-left: 180px;
    float: left;
}
#top #top_header{
    background-color: #fff;
    width: 1350px;
    height: 35px;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}
#top #first .top_li{
    float: left;
    display: block;
    height: 35px;
    margin-left: 24px;
}
#top #first .top_li .li_a{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 35px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top #second{
    width: 120px;
    height: 35px;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 350px;
}
#top #second .top_second_li{
    float: left;
    display: block;
    height: 35px;
    margin-left: 10px;
}
#top #second .top_second_li .second_a{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 35px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top #third{
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 25px;
}
#top #third .top_third{
    float: left;
    display: block;
    height: 40px;
    width: 50px;
    background-color: #DB5480;
    border-radius: 8px;
    text-align: center;
}
#top #third .top_third .third_a{
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top_image{
    margin: 0 auto;
    width: 1350px;
    height: 110px;
    background-repeat: no-repeat;
}
#top_image #top_image_img{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#header_body{
    margin: 0;
    padding: 0;
    position: absolute;
    height: 45px;
    margin-left: 150px;
    margin-top: 20px;
}

#header_body #header_body_enroll{
    width: 80px;
    height: 60px;
    font-family: "Microsoft YaHei";
    font-size: 40px;
    color: #C0C0C0;
    padding: 0;
    line-height: 10px;
    margin-left: 500px;
}
#body{
    margin: 0 auto;
    padding: 0;
}
#body #body_form{
    margin: 0;
    padding: 0;
    width: 550px;
    position: absolute;
    margin-left: 450px;
    margin-top: 80px;
}
#body #body_form #code{
    width: 200px;
}
#body #body_form .kuang{
    width: 418px;
    height: 42px;
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 20px;
}
#body #body_form .tishi{
    width: 418px;
    height: 30px;
    margin: 0 auto;
    border: 1px;
    margin-left: 0px;
    font-size: 12px;
    color: #949494;
}
#body #body_form .cli{
    width: 418px;
    height: 42px;
    background-color: #F9F9F9;
    border-radius: 3px;
    border: 1px solid #C0C0C0;
}