@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont/iconfont.woff') format('woff'),
  url('../iconfont/iconfont.ttf') format('truetype'),
  url('../iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  color: #12A8D9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';
  src: url('../iconfont2/iconfont.eot');
  src: url('../iconfont2/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../iconfont2/iconfont.woff') format('woff'),
  url('../iconfont2/iconfont.ttf') format('truetype'),
  url('../iconfont2/iconfont.svg#iconfont') format('svg');
}
.iconfon{
  font-family:"iconfont" !important;
  font-size:15px;font-style:normal;
  color: #12A8D9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#icon{
    color: #FFAFC9;
}
#gcicon{
    color: #FFAFC9;
    font-size: 25px;
}
#zbicon{
    color: #FFAFC9;
    font-size: 30px;
}
#sjdicon{
    color: #C0C0C0;
    font-size: 50px;
    margin-top: -90px;
    padding: 0;
    margin-left: 80px;
    position: absolute;
}
#hdzx{
    color: #35B12F;
}
#yxzx{
    color: #01A9D3;
}
#xwzx{
    color: #F25D8E;
}
#hy{
    color: #BA3CBF;
}
#mgtv{
    color: #E5823C;
}
body{
    margin: 0;
    padding: 0;
}
#top{
    background: url(../image/01.jpg);
    width: 1350px;
    height: 172px;
    margin: 0 auto;
    padding: 0;
}
#top #first{
    width: 475px;
    height: 35px;
    margin: 0;
    padding: 0;
    margin-left: 180px;
    float: left;
}
#top #top_header{
    background-color: #fff;
    width: 1350px;
    height: 35px;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}
#top #first .top_li{
    float: left;
    display: block;
    height: 35px;
    margin-left: 24px;
}
#top #first .top_li .li_a{
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    height: 35px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top #second{
    width: 120px;
    height: 35px;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 350px;
}
#top #second .top_second_li{
    float: left;
    display: block;
    height: 35px;
    margin-left: 10px;
}
#top #second .top_second_li .second_a{
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    height: 35px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top #third{
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 25px;
}
#top #third .top_third{
    float: left;
    display: block;
    height: 40px;
    width: 50px;
    background-color: #DB5480;
    border-radius: 8px;
    text-align: center;
}
#top #third .top_third .third_a{
    text-decoration: none;
    line-height: 30px;
    height: 40px;
    color: #111111;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
#top #top_form{
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-left: 900px;
}
#top #top_form .top_form_button{
    width: 60px;
    height: 30px;
    color: #F25D8E;
    background-color: #fff;
    opacity: 0.7;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
#top #top_form #top_sousuo{
    width: 240px;
    height: 28px;
    background-color: #fff;
    opacity: 0.7;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    outline: none;
    font-size: 17px;
}
#top #top_body{
    margin: 0;
    padding: 0;
}
#top #top_body #top_body_li{
    margin: 0 auto;
    padding: 0;
}
#top #top_body #top_body_li #top_body_li_a{
    text-align: center;
    text-decoration: none;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    color: #fff;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    background-color: #111111;
    opacity: 0.8;
    margin-left: 300px;
    margin-top: -30px;
    position: absolute;
    display: none;
}
#body{
    margin: 0 auto;
    width: 980px;
    height: 80px;
    /*border: 1px solid black;*/
    position: relative;
    /*margin-left: 200px;*/
}
#body #body_menu{
    margin: 0 auto;
    width: 980px;
    /*border: 1px solid black;*/
}
#body #body_menu #body_navigation{
    margin: 0 auto;
    padding: 0;
    width: 980px;
    height: 60px;
    /*border: 1px solid black;*/
}
#body #body_menu #body_navigation .body_navi_first{
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    height: 60px;
    position: relative;
}
#body #body_menu #body_navigation .body_navi_first #guangchang_a{
    font-size: 18px;
    margin-left: 50px;
    line-height: 70px;
}
#body #body_menu #body_navigation .body_navi_first #zhibo_a{
    font-size: 18px;
    margin-left: 50px;
    line-height: 70px;
}
#body #body_menu #body_navigation .body_navi_first .body-navi-first-a{
    text-decoration: none;
    line-height: 80px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-style: normal;
    color: #111111;
    margin-left: 20px;
}
#em_sy{
    background-color: #fff;
}
#em_gc{
    width: 30px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: -70px;
}
#em_zb{
    width: 30px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: -70px;
}
#em_sjd{
    width: 30px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: -70px;
}
.em_navi{
    background-color: #FFAFC9;
    width: 30px;
    height: 15px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: -65px;
    border-radius: 3px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-family: "Microsoft YaHei"
}
em{
    font-style: normal;
}
/*.second{
    position: absolute;
    width: 140px;
    height: 250px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    margin-left: 70px;
}*/
.second_ul{
    position: absolute;
    /*border: 1px solid black;*/
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 130px;
    display: none;
}
.second_ul_li{
    list-style: none;
    height: 30px;
    float: none;
}
.second_ul_li_a{
    text-decoration: none;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #111111;
}
#body #body_menu #body_navigation .body_navi_first:hover .second_ul{
    display: block;
    margin-top: -60px;
    margin-left: 15px;
    z-index: 5;
}
#body #body_menu #body_navigation .body_navi_first:hover #second_ul_gc{
    margin-top: -30px;
    z-index: 5;
}
#body #body_menu #body_navigation .body_navi_first:hover #second_ul_zb{
    margin-top: -30px;
    z-index: 5;
}
#indexpic{
    margin: 0 auto;
}
#index_container{
    width: 990px;
    height: 230px;
    margin: 0 auto;
}
#carousel{
    width: 440px;
    height: 221px;
    overflow: hidden;
    position: relative;
    margin-left: 20px;
}
#list{
    width: 3080px;
    height: 221px;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    left: -440px;
    z-index: 1;
/*    animation: myfirst 20s;*/
}
/*@-webkit-keyframes myfirst{
    0% {background: url(../image/08.png);}
    25% {background: url(../image/11.png);}
    50% {background: url(../image/12.png);}
    75% {background: url(../image/13.png);}
    100% {background: url(../image/14.png);}
}
#contain_imgs{
    padding: 0px;
    margin: 0 auto;
    height: 221px;
    width: 2210px;
    position: relative;

}*/
#list img{
    float: left;
    height: 221px;
    width: 440px;
}
#buttons{
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    margin-left: 340px;
}
#buttons span{
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 0 2px;
}
#buttons .on{
    background-color: #00A1D6;
    border: 2px solid #fff;
}
.arrow{
    cursor: pointer;
    display: none;
    text-align: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 85px;
    text-decoration: none;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}
.arrow:hover{
    background-color: RGBA(0,0,0,.7);
}
#carousel:hover .arrow{
    display: block;
}
#prew{
    left: 20px;
}
#next{
    right: 0px;
}
#ress{
    width: 550px;
    height: 230px;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
    margin-top: -222px;
    margin-left: 460px;
}
.top_ress{
    list-style: none;
    margin: 0;
    padding: 0;
}
.medal{
    width: 162px;
    height: 100px;
    /*border: 1px solid black;*/
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-top: 22px;
    border-radius: 3px;
}
.mask{
    width: 162px;
    height: 100px;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
    background: #111111;
    opacity: 0.6;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #fff;
    display: none;
    border-radius: 3px;
}
.name{
    width: 162px;
    height: 20px;
    background: linear-gradient(0deg, black, #C0C0C0);
    margin-top: 80px;
    /*background: #111111;
    border: 1px solid black;*/
    opacity: 0.6;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    display: block;
}
.medal:hover .mask{
    display: block;
}
.medal:hover .name{
    display: none;
}
#medal_fir{
    background: url(../image/19.png);
    background-size: cover;
    margin-top: 0px;
}
#medal_sec{
    background: url(../image/20.png);
    background-size: cover;
    margin-top: 0px;
}
#medal_thi{
    background: url(../image/21.png);
    background-size: cover;
    margin-top: 0px;
}
#medal_fou{
    background: url(../image/22.png);
    background-size: cover;
}
#medal_fiv{
    background: url(../image/23.png);
    background-size: cover;
}
#medal_six{
    background: url(../image/24.png);
    background-size: cover;
}