ul,li,div,a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    border: 0px;
}
li {
    line-height: 40px;
}
.header {
    width: 160px;
    height: 480px;
    border: solid red 1px;

}
.content {
    position: absolute;
    top: 8px;
    left: 169px;
    width: 1000px;
    height: 480px;
    border: solid red 1px;
}